# PostgreSQL settings
POSTGRES_USER=test
POSTGRES_PASSWORD=pw123
POSTGRES_DB=crm_example
POSTGRES_PORT=5432

# pgAdmin settings
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin_password
PGADMIN_PORT=5050

# OpenClaw setting
GOOGLE_API_KEY=here-your-key
TELEGRAM_BOT_TOKEN=here-your-key
